.Navbar {
    height: 40px;
    background-color: #2961da;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
    .container {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 20px;
    }
  
    .banner {
        font-family: Verdana, sans-serif;
      font-size: 1.7rem;
      font-weight: 700;
      color: #ffffff;
      cursor: pointer;
      transition: color 0.3s ease;
      animation: flipAnimation 1s;
      transform-origin: center;
    }
  
    .right-side {
      display: flex;
      align-items: center;
      gap: 15px;
    }
  
    .profile {
      cursor: pointer;
      transition: transform 0.2s ease;
    }
  
    .logout {
      font-size: 1.4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #ffffff;
      cursor: pointer;
      transition: color 0.3s ease, transform 0.2s ease;
    }
  
    /* Flip animation */
    &.flipped {
      .banner {
        animation: flipAnimation 1s;
        transform-origin: center;
      }
    }
  
    @keyframes flipAnimation {
      from {
        transform: rotateY(0);
      }
      to {
        transform: rotateY(360deg);
      }
    }
  }
  